/* colors:

*/
:root {
    --black: #031A0D;
    --darker_green: #00c05b;
    --light_green: #00fb77;
    --lighter_green: #33FF94;
    --purple: #b357eb;
    --pink: #EB4BA2;
    --mg: #58eb40;
    --red: #eb3928;
    --yellow: #cce34;
    --offwhite: #B7BFEB;
    --grey: #e0e0e0;
    --color-primary-0:  #00FF77; 	/* Main Primary color */
    --color-primary-1:  #A4FFCE;
    --color-primary-2:  #70FFB2;
    --color-primary-3:  #009947;
    --color-primary-4:  #007637;
    --color-primary-5:  #0DAAFF;
    --color-primary-6:  #0083ca;
    --color-primary-7:  #FF3900;
    --code_text:  #f9f5fc;    /* for text */
    --border: solid var(--color-primary-3) 2px;
    --code_bg: #2B3245;
    --wide: 75%;
    --narrow: 50%;
}
/* KEYFRAES */


@keyframes logo_on_load {
    0% {
        width: 100%;
        height: auto;
        opacity: 1;
    }
    100% {
        width:0%;
        height: auto;
        opacity: 0;
        margin-top:-75px;
    }
}

@keyframes navbar_dropdown {
    from {
        transform: translateY(-150%)
    }
    to {
        transform: translateY(0);
    }
}



@keyframes choice_hover {
    from{
    }
    to {

    margin-left: 45px;
    margin-right: 45px;
    border-radius: 15px;
    border: var(--border);
    background-color: var(--light_green);
    box-shadow: 0px 0px 10px var(--light_green);
    }

}

@keyframes course_topics {

0% {
    width: 0%;
    height: auto;
    font-size: 0px;
}


100% {
    opacity: 1;
    height: auto;
    margin: var(--narrow);
    margin-bottom: 30px;
    align-items: center;
    background-color: var(--color-primary-2);
    border-radius: 40px;
    border: var(--border);
        font-size: 18px;

}

}
/* MAIN STUFF */
header {
    background: #333;
    padding: 30px;
}

@font_face {
}
html {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 85px;
    margin-bottom: 85px;

    text-align: center;
    /* background-image: linear-gradient(180deg,var(--grey),var(--light_green)); */
    font-family: "Lato";
    line-height: 2;

}

hr {
    border-top: var(--border);
    color: var(--color-primary-2);

}

.flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/* REGISTER STUFF */
.form_group p{
    text-align: left;
}
form li { /* don't display the lines of password info */

    width: var(--narrow);
    text-align: left;
    list-style: none;
    margin-left:-42px;
    font-size: 15px;

}

/* LOGIN STUFF */

.login,input {
    text-align: left;
    justify-content: left;
    margin-left: 50px;

}

.login input {
    margin-left: -3px;
}


/* HOMEPAGE STUFF */

#flex_container_homepage {
    display: flex;
    flex-direction:column;

}


.logo img {
    width:100%;
    display: flex;
    flex-width: 45px;
    justify-content: center;
    margin:0 auto;
    box-shadow: 0px 0px 10px 1px black;
    border-radius: 30px;
    margin-top:-65px;
    border: var(--border);
    animation: 11s ease-in-out 1s 1 logo_on_load;
    animation-fill-mode: forwards;
}

#flex_subcontainer_homepage{
    display: flex;
    flex-direction: column;
    margin-right:-15px;

}

#homepage_title {
    width: var(--narrow);
    margin: 0 auto;

}

#homepage_description{
    background-color: var(--light_green);
    padding:30px;
    width: var(--narrow);
    border: var(--border);
    margin: 0 auto;
    margin-bottom: 35px;
    border-radius: 30px;
}

/* MENU STUFF */

/* CHAPTER STUFF */


/* QUIZ STUFF */
.question_code_text {

    background-color: var(--code_bg);
    color: var(--code_text);
    display: flex;                      /* put  it in a flex, align the text to the left, then drag the flex to the center */
    text-align: left;
    justify-content: center;
    padding: 30px;
    font-size: 18px;
    border-radius: 15px;
    margin: 100px;
     margin-left: 350px;
    margin-right: 350px;


}

.quiz_choices {
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 60px;
}

.checkbox {
    margin-bottom: 45px;
    font-size: 15px;
        box-shadow: none;

}

input {
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
    margin-top: 15px;
    border: var(--border);
    background-color: var(--light_green);
    box-shadow: 0px 0px 10px var(--light_green);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;         /* while using keyframs is cleaner, this allows for backwards animations 8*/
    -ms-transition: all .3s ease;
    transition: all .3s ease;
    font-size: 21px;
}

input:hover{ /* TODO add animation */
    margin-left: 45px;
    margin-right: 45px;
    font-size: 25px;
    border: var(--border);
    background-color: var(--light_green);
    box-shadow: 0px 0px 20px var(--light_green);
}

#submit {
    background-color: var(--color-primary-5);
    border: none;
    border-radius:5px;
    color: black;
    font-family: "Lato";
    padding: 20px 20px;
    margin: 20px 20px;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 0px 10px var(--color-primary-5);

    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;         /* while using keyframs is cleaner, this allows for backwards animations 8*/
    -ms-transition: all 1s ease;
    transition: all 1s ease;

 }

#submit:hover {
    box-shadow: 0px 0px 100px 15px var(--color-primary-5);
    font-size: 15px;
    font-weight: 900;
    padding: 40px;
    margin: 40;
    font-size: 20px;
    animation-fill-mode: both;

}

label {
    background: var(--color-primary-5);
    box-shadow: 0px 0px 10px var(--color-primary-5);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 21px;
}

.label:hover{
    background: var(--color-primary-6);
    cursor: pointer;

}

.visually_hidden {
    left: -100vw;
    opacity:0;
}

/* RESULTS PAGE STUFF */

#results_incorrect {
    padding: 25px;
    margin: 0 auto;
    width: var(--narrow);
    background-color: var(--light_green);
    color: black;
    border: var(--border);
    box-shadow: 0px 0px 10px var(--color-primary-0);
}

}


.results_buttons {
    display:flex;
    flex-direction: row;
    justify-content: center;
}



#results_correct {
    padding: 25px;
    margin: 0 auto;
    width: var(--narrow);
    background-color: var(--color-primary-0);
    border: none;
    color: black;
    box-shadow: 0px 0px 10px var(--light_green);

}


/* LOGOUT STUFF */


#flex_container_quiz {
    display: flex;
}

fieldset {

    border: none;

}




#quiz_button{
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
}
#flex_course_title {
    display:flex;
    flex-direction: column;
    align-self: center;
    margin: auto;

}

#flex_course_content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;


}

.topbar {
    top:0;
    left:0;
    display: flex;
    font-family: 'Lato';
    height: 75px;
    width: 100%;
    font-weight: bold;
    flex-direction: row;
    letter-spacing: 2px;
    justify-content: space-around;
    background-color: var(--light_green);
    box-shadow: 0px 0px 15px 10px var(--light_green);
    text-align: center;
    position: fixed;
    animation: 2s ease 0s 1 navbar_dropdown;
    animation-fill-mode: forwards;
}



.topbar a {
    font-size: 30px;
}



.important_content {
    color: white;
    font-size: 25px;
    font-weight: bold;
    padding: 15px;
    line-height: 1.8;
    border-radius: 15px;
    background-color: var(--color-primary-7);
    text-shadow: 0px 0px 3px white;
    border: solid red 2px;
    margin: 75px;
}


h1 {
    font-size: 45px;
    text-shadow: 0px 0px 2px black;

}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 29px;
    font-weight:bold;
    margin: auto;
}

h4{

    font-size: 20px;
    margin: 0 auto;
        justify-content: center;


    align-text: center;

}




.main_content {


    display: flex;
    text-align: left;
    flex-direction: column;
    justify-content: left;
    font-size: 27px;
    width: var(--wide);
    border: var(--border);
    border-radius: 30px;
    margin: auto;
    flex-wrap: wrap;
    background-color: var(--color-primary-1);
    padding: 30px;
    white-space: pre-wrap;  /* code found online to help with my no linebreaks issue */
        box-shadow: 0px 0px 10px 1px var(--color-primary-3);



    }

.chapter_summary{
    margin-bottom: 10px;
    margin: 0 auto;
    border: var(--border);
    border-radius: 15px;
    width: var(--narrow);
    background-color: var(--color-primary-1);
}
.menu_summary{
    margin-bottom: 10px;
    margin: 0 auto;

}
#chapter{
    padding: 15px;
    font-size: 19px;
    margin-bottom: 10px;
    width: var(--narrow);
    margin: 0 auto;


}
.heading {
    font-family: "Lato";
    display: flex;
    flex-direction: column;
    text-shadow: 0px 0px 5px 0px var(--purple);
    font-weight: normal;
    align-items: center;

}

.heading hr {
    width: var(--wide);
}

.error {
    color: var(--red);
    font-weight: bold;
    margin: auto;
}

.dropdown_content{
    opacity: 0;
    height: 0;
    width: var(--narrow);
    margin: auto;
    align-items: center;



}

.dropdown:hover .dropdown_content{ /* dropdown2 hover works for each individual topic BUT you can't select the linkts */

    cursor: pointer;

    animation: 3s linear 0s 1 course_topics;
    animation-fill-mode: forwards;

}



ol {
    list-style-type: none;
}



.chapter {
    font-size: 15px;
}

.chapter_num{
    font-size: 20px;
    font-weight: bold;
}
.chapter_end{
    font-size: 26px;
    width: var(--narrow);
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    border: var(--border);
    border-radius: 30px;
    background-color: var(--color-primary-2);
}

.chapter_button_link {
    color: blue;
    margin: auto;
}

.subheading {

}

.topic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: var(--wide);
    margin: auto;
    font-size: 40px;
    border-radius: 15px;
    background-color: var(--color-primary-1);
    border: var(--border);
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-text: center;
}


.topic_description{
    font-size: 20px;
    font-weight: normal;

}

#profile {
    display:flex;
    text-align: center;
    padding: 0px;
}

a {
    font-style: normal;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-primary-5);
    margin: auto;
}

#topbar a {
    background-color: var(--light_green);
    padding: 0px;
    height: 100%;
}

#topbar a:hover {
    background-color: var(--darker_green);
    font-weight: bold;
    border: var(--border);
}

a:hover {
    background-color: var(--darker_green);
    font-weight: bold;
    border: var(--border);
    cursor: pointer;
}
.active {
    border: var(--border);
}


#{{ choice.choice_text }} {
    font-size: 200px;

    }
input #username {
    background-color: var(--color-primary-3);


}
