{% extends 'course/topbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">

{% load course_in_category %}

<html>
    <head>


        <div class="title">
            {% block title %}
                Course Menu
            {% endblock %}
        </div>

    </head>

    <body>
     {% block content %}
        <div class="heading">
            Course Topics
        </div>
        {% if Topicclass %}

                {% for topicins in topiclist %}
                    <div class=""
                    <div class="heading">
                    {{ topicins.title }}
                    </div>

                        <!-- wow this took me awhile to figure out. use the URL NAME DEFINED IN THE URL PLEASE not the view name, not the url itself, what we named it -->
                    {% for chapter in Chapter|in_category:topicins.id %}
                            <ul>
                                <li>
                                    <div class="chapter">
                                        Chapter #{{ forloop.counter }}!<br>
                                        <a href="{% url 'course:Chapter_url' chapter.id %}">{{ chapter.title }}</a>

                                    <div class="summary">
                                    This chapter covers: {{ chapter.chapter_covers }}
                                    </div>
                                </li>
                            </ul>
                    {% endfor %}
                {% endfor %}

        {% else %}
            No Chapter Content Available, Try Again Later
        {% endif %}

    {% endblock %}
