{% extends 'course/topbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'bases.css' %}">
{% load course_in_category %}
<html>
    <head>
        <div class="title">
            {% block title %}
                Chapter #{{ Instruction.id }}
            {% endblock %}
        </div>
    </head>


{% block content %}
    <body>

    <div class="flex_container" id="flex_course_title">
        <div class = "course_title">
             <h1>{{ Chapter.title }}</h1><hr>
        </div>

        <div class= "chapter_covers">
            <h2><i>{{ Chapter.chapter_covers }}</i></h2>
        </div>
         <h3>Read carefully. You'll be quizzed over this material.</h3>
    </div>



    <div class="flex_container" id="flex_course_content">
        <div class= "main_content">

{{ Chapter.content|user_tag:user }} <!-- leave this unindented, as the css considers the whitespace as lines. -->

        </div>
        <div class = "important_content">
             Important, Note the following:

             {% for important in ImportantInstructionContent %}
                <br>{{ forloop.counter }}.)
                     {{ important.important_content|user_tag:user }}

             {% endfor %}
        </div>
    </div>
    <div class = "chapter_summary">
        This is a quick summary of the chapter:
        <br>{{ Chapter.summary }}
    </div>

 </div>
    <div class="chapter_end">
        Think you got it?
        Head over to take the <a href="{% url 'course:Quiz_url' Chapter.id %}">Quiz!</a>
    </div>
    </body>

{% endblock %}
</html>