{% extends 'course/topbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">

<html>
    <head>
        {% block title %}
                Quiz #{{ question.question.id }}
        {% endblock %}
    </head>

    <body>
    {% block content %}
            <div class="title">
                {{ question.question_text }}
            </div>
            <form action="{% url 'course:Chapter_url' question.id %}" method="get">
                {% csrf_token %}
                <fieldset>
                    <input type="submit" value="Go Back" name="Go Back">
                </fieldset>
            </form>
            <form action ="{% url 'course:Results_url' chapter.id %}" method="post">
                {% csrf_token %}

                <fieldset>
                    {% if error_message %}
                        {{ error_message }}
                    {% endif %}
                    {% for choice in question.choice_set.all %}
                    <div class="list">

                        <ul>
                            <ol>
                                <input type="radio" name="choice" id="choice" value="{{ choice.id }}">
                                <label for="choice">{{ choice.choice_text }}</label>
                            </ol>
                        </ul>

                    </div>
                    {% endfor %}
                    <input type="submit" value="Submit Answer" name="Submit Answer">
                    </fieldset>


    {% endblock %}
    </body>
</html>