{% extends 'course/topbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}" xmlns="http://www.w3.org/1999/html">

{% load course_in_category %}

    <head>
        {% block title %}
            Quiz #{{ question.question.id }}
        {% endblock %}
    </head>

    {% block content %}
            <div class="title">
                <h1>Question: "{{ question.question_text }}"</h1>
            </div>
     <div class="flex_container" id="flex_container_quiz">
                    <a href="{% url 'course:Chapter_url' chapter.id %}">Go Back To Chapter</a>
            </div>
            {% if question.question_code_text %} <!-- first try, got it so that only if the text exists that it'll display -->
                <div class="question_code_text">
                    <pre>{{ question.question_code_text|linebreaksbr }}</pre>

                </div>
             {% endif %}



                <form action ="{% url 'course:Results_url' chapter.id %}" method="post">
                    {% csrf_token %}
                    <fieldset>
                        {% if error_message %}
                            {{ error_message }}
                        {% endif %}
                                 <div class="quiz_choices">
                        {% for choice in question.choice_set.all %} <!-- TODO make it so that you can just click an answer and it submits, or, MAKE IT LOOK CLEAN -->
                            <br>

                            <label for="{{ choice.choice_text }}"class="label">{{ choice.choice_text|user_tag:user }}</label>
                            <input class="checkbox" id="{{ choice.choice_text }}" type="checkbox" name="choice" value="{{choice.id}}">

                        {% endfor %}
                                         </div>
                        <div class="button">
                            <h1> <input type="submit" id="submit" value="Submit Answer" style="font-family:'Lato'"> </h1>
                        </div>
                        </fieldset>
                </form>


    {% endblock %}
